@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Consolas:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700&display=swap");


h3 {
  font-family: "Source Code Pro", sans-serif;
  /* font-size: 1.4rem; */
  font-weight: 200;
  padding-top: 2%;
  color: rgba(255, 255, 255, 0.979);
}

.categoryContainer {
  margin: 0.5em;

  border-radius: 16px;
  /* border-bottom: 0.1px solid rgba(255, 255, 255, 0.281); */
  background-color: #1b1b1b;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.493); */
}

.categoryContainer:hover {
  transform: scale(1.02);
}

/* Shimmer effect */
.categoryContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  align-self: stretch;
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(219, 217, 209, 0.3) 50%,
    transparent 70%
  );
  transform: skewX(-20deg);
  transition: left 0.3s ease-out;
}

.categoryContainer:hover::before {
  left: 100%;
}

.categoryTitle {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.small {
  height: 100%;
}

.medium {
  grid-column: span 2;
  height: 100%;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
}

.articleImage {
  width: 100%;
  height: 100%;
  /* object-fit: inherit; */
  /* align-self: stretch; */
}

.articleTitle {
  justify-content: center;
  font-size: 1.05rem;
  margin: 16px;
  
}
.medium .articleTitle {
  /* align-self: stretch; */
  position: absolute;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  background: #1b1b1b;
  padding: 10px;
  padding-right: 10px;
  /* font-size: 1.2rem; */
}

.articleLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
