@import url("https://fonts.googleapis.com/css2?family=Consolas:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap");

li {
  align-items: center;
}
.categoryItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  padding-top: 10px;
  cursor: pointer;
}
.listItem {
  vertical-align: middle;
  justify-content: center;
  list-style-type: none;
  font-size: 0.9em;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  /* padding-top: 5px; */
  padding-left: 0px;
  margin: 0;
}

.rightArrow {
  margin-right: 5px;
  padding-left: 0;
  margin-left: 0;
  opacity: 0;
}
.inactive:hover {
  cursor: pointer;
  padding-left: 5px;
  /* font-size: 0.9em; */
}
.inactive:hover .rightArrow {
  opacity: 1;
}

.active .rightArrow {
  opacity: 1;
}
.sidebar {
  border-right: 0.1px solid rgba(255, 255, 255, 0.349);
  user-select: none;
  display: inline-block;
  position: fixed;
  height: 100vh;
  background: linear-gradient(#000000, #282829);
  color: white;
  padding-top: 5px;
  transition: width 0.4s ease-in-out;
  overflow: hidden;
}

.open {
  width: 10%;
}

.closed {
  width: 2%;
  align-items: center;
  padding-left: 0.3%;
}

.subCategoryItem {
  font-family: "Source Code Pro";
  font-weight: 300;
  padding-left: 20px;
  margin: 0;
  /* padding-top: 10px; */
  font-size: 0.8em;
  max-height: 0; /* Start collapsed */
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 0.4s ease-in-out;
  opacity: 0; /* Fade effect */
}
.subCategoryItem:hover {
  cursor: pointer;
}
/* .subInactive {
  display: none;
} */

.subActive {
  max-height: 200px; /* Adjust based on content */
  /* transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out; */
  opacity: 1;
  margin-left: 20px;
  padding-top: 10px;
}
.toggleButton {
  background: none;
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 44px;
}

.subarrow {
  display: none;
}

.subCategoryItem:hover .subarrow {
  display: inline;
}

.subInactive .subslash {
  opacity: 1;
}
.subActive .subslash {
  opacity: 0;
}
/* .home {
  font-size: 0.9em;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  padding-top: 25px;
  padding-left: 10px;
  margin: 0;
}
.home:hover {
  cursor: pointer;
  font-size: 1.1em;
  border-left: 5px solid white;
  transition: all 0.1s ease-in-out;
} */
